{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'about/main.css' %}">
{% endblock %}

{% block content %}
	<script type="text/javascript" src="{% static 'about/main.js' %}"></script>

	<div class="about d-container d-padding">
		<div class="grid">
			<div class="left">
				<a href="#about-skyline-rotorua">About Skyline Rotorua</a>
				<a href="#history-of-skyline-rotorua">History Of Skyline Rotorua</a>
				<a href="#history-of-the-luge">History Of The Luge</a>
				<a href="#gondola-cableway">Gondola Cableway</a>
				<a href="#history-in-brief">History In Brief</a>
				<a href="#our-purpose">Our Purpose</a>
				<a href="#our-values">Our Values</a>
				<a href="#sustainability">Sustainability</a>
				<a href="#skyline-enterprises-ltd">Skyline Enterprises Ltd</a>
			</div>
			<div class="right">
				<h1 class="heading" id="about-skyline-rotorua">About Skyline Rotorua</h1>
				<p>
					Conveniently located just minutes from Rotorua's City centre, high on the side of Mount Ngongotaha, the Gondola will carry you to 487 metres above sea level to a stunning environment providing panoramic views of Rotorua City, Lake Rotorua and the surrounding area.
					<br><br>
					Skyline Rotorua is an all-weather attraction.
				</p>
				<h2 id="history-of-skyline-rotorua">History Of Skyline Rotorua:</h2>
				<p>
					Passengers from around the world have been climbing aboard the Gondolas since 1985 and the ride hasn’t stopped since.
					<br><br>
					Skyline’s story began in 1981, when Skyline Enterprises founder Hylton Hensman purchased farmland on the city side of Mt Ngongotaha which, unusually for Rotorua, wasn’t in Māori title. Skyline Enterprises had been operating a very successful South Island gondola operation since 1967 and decided that it was time for expansion.
					<br><br>
					Several tourist attractions, including Rainbow Springs to the left of Skyline, were already being developed and the Skyline shareholders decided the time was right to invest in the area – and Skyline Skyrides was established (re-branded Skyline Rotorua in 2010).
					<br><br>
					Construction began in Rotorua in 1984, with a Mueller Gondola system being installed from Switzerland and a restaurant capable of accommodating up to 250 people was built at the top of the Gondola.
					<br><br>
					On 10 March 1985 Skyline Skyrides Rotorua was officially opened and in the past 30 years of operation, the attraction has had more than eight million visitors ride the Gondolas. Many Kiwis will have fond childhood memories of riding the Gondolas for the first time – for many it was, and still is, a quintessential part of growing up in New Zealand.
				</p>
				<h2 id="history-of-the-luge">History Of The Luge:</h2>
				<p>
					In 1984 construction began on Skyline Rotorua’s thrill element – the world’s first Luge track – which was opened to the public in 1985, with additional tracks completed in 1993 and 2001.
					<br><br>
					‘Luge’ is a French word which came into general use around 100 years ago to describe a type of toboggan used in Switzerland. The concept of the Skyline Luge, which did not rely on snow or ice, evolved from a Hylton Hensman idea and when Skyline Skyrides was established, the concept became a reality.
				</p>
				<h2 id="gondola-cableway">Gondola Cableway:</h2>
				<p>A 900-metre long Doppelmayr cableway system with a vertical rise of 178.5 metres, is capable of carrying 2000 people an hour in eight-seater cabins.</p>
				<h2 id="history-in-brief">History In Brief:</h2>
				<p>
					<b>1984</b> - Construction begins.
					<br>
					<b>1985</b> - Gondola complex and first-ever Luge site open for business.
					<br>
					<b>1985</b> – World’s first luge track opens.
					<br>
					<b>1997</b> - Skyline Rotorua wins New Zealand Tourism Award.</li>
					<br>
					<b>2000</b> – Skyswing opens.
					<br>
					<b>2005</b> - New $10 million dollar 8 seater Gondola installed.</li>
					<br>
					<b>2012</b> - Food Market Kitchen, Jelly Belly Store and Volcanic Hills Wine Tasting Room open.
					<br>
					<b>2013</b> - Celebrates the 15 Millionth Luge rider in Rotorua & Food Market Kitchen renovation.
					<br>
					<b>2014</b> – Skyline Rotorua Gravity Park opens, Nature Trails developed, Zoom Zipline is launched and a $2 million dollar renovated Stratosfare Restaurant opens.
					<br>
					<b>2015</b> – Skyline Rotorua turns 30 years old. Crankworx Rotorua is hosted at Skyline with custom-built tracks and courses.
				</p>
				<h2 id="our-purpose">Our Purpose:</h2>
				<p>
					"Deliver World Class Leisure and Entertainment Experiences"
					<br><br>
					For us this means: “Delivering on our service promise to provide the ‘WOW’ factor for our customers, staff, community and shareholder”
				</p>
				<h2 id="our-values">Our People Demonstrate Our Values:</h2>
				<p>
					Core values are the behaviours & attitudes that define our company & guide us towards achieving our goals. Here at Skyline Rotorua our core values are:
				</p>
				<ul>
					<li>Safety</li>
					<li>Care</li>
					<li>Ownership</li>
					<li>Skyline Family</li>
				</ul>
				<img alt="Our values" src="https://www.skyline.co.nz/media/1067/skyline-rotorua_careers_core-values.D8b_Pw.jpg">
				<h2 id="sustainability">Sustainability</h2>
				<p>
					Skyline Rotorua is committed to contribute and ensure a sustainable future for the community, employees and environment in which it operates. Sustainability is one of the topics at our weekly head of department meetings to ensure it remains at the forefront of our operations.
					<br><br>
					As a member of the Sustainable Tourism Charter, Skyline Rotorua has made a commitment to sustainable business practices through the conversation of the physical and social/cultural environment.
					<br><br>
					Fostering the education and training of our young people and the tourism industry’s future leaders provides personal development opportunities for every employee.
				</p>
				<h1 class="heading" id="skyline-enterprises-ltd">About Skyline Enterprises Ltd</h1>
				<p>
					Skyline Queenstown was opened in 1967 and subsequently upgraded in November 1987. The sister property Skyline Skyrides, Rotorua was opened March 1985 and has recently received a complete upgrade to its Gondola and building facilities.
					<br><br>
					Both properties have become iconic NZ attractions, providing visitors with picture-postcard views, fine dining experiences, and thrills on the Skyline Luge.
					<br><br>
					During the 1970s and early '80s, Skyline acquired or built several accommodation properties. Namely; the Mountain View Lodge, Queenstown (sold in 2003), Blue Peaks Lodge and Leisure Lodge Motor Inn.
					<br><br>
					Skyline Luge Logo.
					With the cableway and accommodation businesses as a foundation, the company took a very bold move in the mid-1990s, pioneering the casino industry in New Zealand and more recently embarked on a major investment in commercial real estate and offshore Luge ventures.
					<br><br>
					Like any enterprise, Skyline has continually reinvested in its businesses to ensure that Skyline stays at the forefront of our field. With this said, Skyline has been and continues to be a fun company, proudly running great New Zealand activities and providing entertainment and enjoyment to our millions of visitors.
				</p>
			</div>
		</div>
	</div>
{% endblock %}