{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
{% endblock %}

{% block content %}
	<script type="text/javascript" src="{% static 'home/main.js' %}"></script>

	<video class="bg-video" autoplay muted loop>
		<source src="{% static 'home/background.mp4' %}" type="video/mp4">
	</video>

	<div class="d-container-wrapper intro-container-wrapper">
		<div class="intro d-container d-padding">
			<div class="grid">
				<h1 class="heading">Skyline Rotorua</h1>
				<h2>Enjoyment for the whole family!</h2>
				<a class="d-button" href="{% url 'booking:activities' %}">Buy Tickets Now</a>
			</div>
		</div>
	</div>

	<div class="d-container-wrapper todo-container-wrapper">
		<div class="todo d-container d-padding">
			<h1 class="heading">Choose Your Adventure</h1>
			<div class="flex">
				<div class="card">
					<div class="cover-image" style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Luge/Day%20Luge/Skyline%20Rotorua%20Family%20Luge%20Image.jpg');"></div>
					<div class="content">
						<h2 class="title">Rotorua Luge</h2>
						<p>The part go-cart, part toboggan is gravity fuelled with full rider control over speed and direction. Ride the sweeping bends of the Scenic track through the Redwoods Forest and enjoy the stunning chair-lift back to the top. Once Is Never Enough! </p>
						<p hidden>Using our unique braking and steering system - pull back on the handlebars to slow down or stop, release slightly to accelerate and enjoy the ride. The Luge is great for any age from small children who can ride with adults to 100+ elderly. The world-famous Luge opened in 1986 and Skyline Rotorua continues to lead the way with Luge technology - all components are designed and manufactured in Rotorua.</p>
					</div>
					<a class="d-button-fill d-button-flex">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>
				</div>
				<div class="card">
					<div class="cover-image" style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Mountain%20Biking/Skyline%20Rotorua%20Gravity%20Park%20Event%20Photo%2034.jpg');"></div>
					<div class="content">
						<h2 class="title">Mountain Biking</h2>
						<p>New Zealand's first all-season Gondola assisted bike lift park, accessing world-class downhill mountain biking... 12-kilometre trail network featuring trails with varying terrain for all ability levels.</p>
						<p hidden>Sprint Warrior Track - The catalyst for the Skyline Gravity Park that has now become somewhat of an institution. The top section is Intermediate and provides that Rotorua Flow. The bottom section is an Advanced trail and provides a plethora of mountain bike experience with machine-built berms, step downs, gap jumps, hand-built trail, the list goes on.</p>
					</div>
					<a class="d-button-fill d-button-flex">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>
				</div>
				<div class="card">
					<div class="cover-image" style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Zoom%20Zipline/Skyline%20Rotorua%20Zoom%20Zipline%2044.jpg');"></div>
					<div class="content">
						<h2 class="title">Zoom Zipline</h2>
						<p>A whole new way to experience Mount Ngongotaha! Our unique 400-metre dual ziplines allow you to race your friends & family at speeds of up to 60km/h. Soar metres from the treetops and feel the thrill of flying with Lake Rotorua as your backdrop.</p>
						<p hidden>
							<video controls preload="metadata">
								<source src="https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Videos/Zipline/2019_Skyline%20Rotorua_Zipline_15sec_1080.mp4#t=0.5" type="video/mp4">
							</video>
						</p>
					</div>
					<a class="d-button-fill d-button-flex">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>
				</div>
				<div class="card">
					<div class="cover-image" style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Skyswing/Skyline%20Rotorua%20Skyswing%20%20%2830%29.JPG');"></div>
					<div class="content">
						<h2 class="title">Skyswing</h2>
						<p>If adventure pushes your buttons, then dare to face your fears and test your limits at New Zealand’s only Skyswing which doubles as Rotorua’s highest and fastest adrenaline rush! The three-seated Skyswing hoists you up to 50 metres, giving you breath-taking view over Lake Rotorua and beyond.</p>
						<p hidden>Hanging from your harness, with the release in your hand, it’s up to you to make the drop! Reaching 150kph, the Skyswing drop will give you a thrill like no other. Eventually, the swinging will slow but don’t get comfortable, we like to excite you one more time with a spin to finish.</p>
					</div>
					<a class="d-button-fill d-button-flex">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>
				</div>
				<div class="card">
					<div class="cover-image" style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Jelly%20Belly%20Store/Jelly_Belly%2049.jpg');"></div>
					<div class="content">
						<h2 class="title">Jelly Belly</h2>
						<p>New Zealand’s first Jelly Belly Concept Store and Art Gallery! The store has around 100 scrumptious flavours of jelly beans. Visitors can purchase gift packs to take home or choose from the huge variety of flavours on offer to make their own Pick 'n Mix box.</p>
						<p hidden>Bean Boozled - It's a daring game which involves spinning a wheel to select a bean. For each jelly bean colour on the wheel, there are two possible flavours. One is delicious, and one will leave a bad taste in your mouth. You could be trying strawberry jam, chocolate or dog food, and vomit... Yum! These beans may look alike but they could not taste more different from each other. Think you can tell them apart?</p>
					</div>
					<a class="d-button-fill d-button-flex">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>
				</div>
				<div class="card">
					<div class="cover-image" style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Stratosfare%20Restaurant/Lunch%20%26%20Dinner/Skyline%20Rotorua%20Stratosfare-%20Hero%20Brand%20Picture%209.jpg');"></div>
					<div class="content">
						<h2 class="title">Stratosfare Restaurant</h2>
						<p>Enjoy a delicious Lunch or Dinner featuring a stunning array of freshly prepared and cooked-to-order dishes highlighting locally sourced seafood, meat and produce. The contemporary ambience features luxurious Italian marble and David Trubridge lights... while the panoramic view of Lake Rotorua is a sight to behold.</p>
						<p hidden>Stratosfare will take you on a gastronomic journey from the tidal mussel tank, ensuring the freshest mussels you can find, to the flame rotisserie, Art of the Grill chef station, 24-hour slow-cooked roast beef, seasonal salads and delicate cooked-to-order waffles. This is a unique and decadent Rotorua dining experience that you’ll want to return to again and again. </p>
					</div>
					<a class="d-button-fill d-button-flex">Learn More <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg></a>
				</div>
			</div>
		</div>
	</div>

	<div class="d-container-wrapper video-container-wrapper">
		<div class="video d-container d-padding">
			<div class="grid">
				<div class="left">
					<h1 class="heading">A Day At Skyline Rotorua</h1>
					<p>Conveniently located just minutes from Rotorua's City centre, high on the side of Mount Ngongotaha, the Gondola will carry you to 487 metres above sea level to a stunning environment providing panoramic views of Rotorua City, Lake Rotorua and the surrounding area. Skyline Rotorua is an all-weather attraction.</p>
					<!-- https://stackoverflow.com/questions/20075875/how-to-set-the-thumbnail-image-on-html5-video -->
					<video controls preload="metadata">
						<source src="https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Videos/General%20Video/Skyline%20Rotorua%20General%20Video.mp4#t=1" type="video/mp4">
					</video>
				</div>
				<div class="right">
					<div class="image" style="background-image: url(https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Skyline%20Property/Skyline%20Aerial%20May%20-0118.jpg);">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="d-container-wrapper gallery-container-wrapper">
		<div class="gallery d-container d-padding">
			<div class="grid">
				<div><div style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Gondola/Day%20Gondola/Skyline%20Rotorua%205%20%281%29.jpg');"></div></div>
				<div><div style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Gondola/Day%20Gondola/Skyline%20Rotorua%205%20%284%29.jpg');"></div></div>
				<div><div style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Luge/Day%20Luge/Skyline%20Rotorua%20Luge%20Family%20shot%203.jpg');"></div></div>
				<div><div style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Stratosfare%20Restaurant/Breakfast/Low%20Res/Skyline%20Rotorua%20%20%286%29.jpg');"></div></div>
				<div><div style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Gondola/Day%20Gondola/Skyline%20Rotorua%205%20%284%29.jpg');"></div></div>
				<div><div style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Mountain%20Biking/Skyline%20Rotorua%20Gravity%20Park%20Event%20Photo%2047.jpg');"></div></div>
				<div><div style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Gondola/Day%20Gondola/Skyline%20Rotorua%20Gondola.jpg');"></div></div>
				<div><div style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Stratosfare%20Restaurant/Breakfast/Low%20Res/Skyline%20Rotorua%20%20%2817%29.jpg');"></div></div>
				<div><div style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Jelly%20Belly%20Store/Skyline%20Rotorua%20Jelly%20Belly%203.jpg');"></div></div>
				<div><div style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Stratosfare%20Restaurant/Breakfast/Low%20Res/Skyline%20Rotorua%20%20%2815%29.jpg');"></div></div>
				<div><div style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Market%20Kitchen/Skyline%20Rotorua%20Market%20Kitchen%20Photo%2010.jpg');"></div></div>
				<div><div style="background-image: url('https://php.tbc.school.nz/resources/DGT3/Skyline%20Rotorua/Luge/Day%20Luge/Skyline%20Skyrides_58.jpg');"></div></div>
			</div>
		</div>
	</div>

	<div class="d-container-wrapper comment-container-wrapper">
		<h1 class="heading d-padding">Share Your Experience ❤️</h1>
		<div class="overflow-container">
			<div class="comment d-padding">
				<div class="flex">
					<div>
						<p>"I visited mid-morning on a hot sunny day. The views from the top are amazing. Definitely a place to visit when you're in Rotorua. An added bonus was the wine tasting that was available 🍷"</p>
						<p class="author">- Kay61sutton</p>
					</div>
					<div>
						<p>"We made the mistake of only purchasing the Gondola and 3 Luge rides... We went back and purchased another 3 rides each! So. Much. Fun!"</p>
						<p class="author">- Sophieee_NZ</p>
					</div>
					<div>
						<p>"The Stargazing experience was the highlight for me it started at 9:30, luckily we had a clear night. Our guides/astronomers were excellent lots of good info for us and questions answered. We got a summary of the night’s sky and the visible stars. They had 3 telescopes which were positioned for us to view distant stars and nebulas."</p>
						<p class="author">- tonykenzo</p>
					</div>
					<div>
						<p>"Food was amazing and the view was superb. Special thanks to Husain for his amazing hospitality and charming personality. We were lucky enough to view the rainbow and the sunset. Overall a great memorable experience."</p>
						<p class="author">- shiny_pearl_4u</p>
					</div>
					<div>
						<p>"Food was amazing and the view was superb. Special thanks to Husain for his amazing hospitality and charming personality. We were lucky enough to view the rainbow and the sunset. Overall a great memorable experience."</p>
						<p class="author">- shiny_pearl_4u</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="d-container-wrapper booking-container-wrapper">
		<div class="booking d-container d-padding">
			<h1 class="heading">Book Tickets Now</h1>
			<a href="{% url 'booking:activities' %}"><b>I am ready to have fun!</b></a>
		</div>
	</div>
{% endblock %}