{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
{% endblock %}

{% block content %}
	<script type="text/javascript" src="{% static 'home/main.js' %}"></script>

	<video class="bg-video" autoplay muted loop>
		<source src="{% static 'home/background.mp4' %}" type="video/mp4">
	</video>

	<div class="d-container-wrapper intro-container-wrapper">
		<div class="intro d-container d-padding">
			<div class="grid">
				<h1 class="heading">Skyline Rotorua</h1>
				<h2>Enjoyment for the whole family!</h2>
				<a class="d-button" href="{% url 'booking:activities' %}">Buy Tickets Now</a>
			</div>
		</div>
	</div>

	<div class="d-container-wrapper about-container-wrapper">
		<div class="about d-container d-padding">
			<h1>Activities</h1>
		</div>
	</div>
{% endblock %}