:root {
	--progress-bar-width: 100% !important;
}

.overview * {
	font-family: proxima-nova, sans-serif;
}

.overview span {
	color: var(--color-two);
}

.overview .success-container {
	max-width: 900px;
	border: 1px solid #DDD;
	border-radius: 10px;
	padding: 20px;
	margin: auto auto 40px;
}

.overview .success-container > * {
	margin: 0 0 20px;
	text-align: center;
}

.overview .success-container > *:nth-last-child(1) {
	margin: 0;
}

.overview .success-container p, .overview .success-container a {
	color: #AAA;
}

.overview .success-container a:hover {
	color: var(--color-two);
}

.overview .ticket-container {
	max-width: 800px;
	margin: auto;
}

.overview .ticket-container > * {
	margin: 0 0 20px;
}

.overview .ticket-container > *:nth-last-child(1) {
	margin: 0;
}

.overview .item {
	border: 1px solid #DDD;
	border-radius: 10px;
}

.overview .item .grid {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 20px;
	border: 1px solid #DDD;
	border-width: 0 0 1px;
}

.overview .item .content-container {
	padding: 20px 0;
}

.overview .item .content-container > * {
	margin: 0 20px 10px;
}

.overview .item .content-container > *:nth-last-child(1) {
	margin: 0 20px 0;
}

.overview .item .verifications {
	border-bottom-width: 0;
	border-radius: 0 0 10px 10px;
	background: #F5F5F5;
}

.overview .card {
	max-width: 250px;
	height: max-content;
	border: 1px solid #DDD;
	border-radius: 10px;
	padding: 20px;
}

.overview .card > * {
	margin: 0 0 20px;
}

.overview .card > *:nth-last-child(1) {
	margin: 0;
}

.overview .email-verification > *:not(form) {
	margin: 0 0 20px;
	text-align: center;
}

.overview .email-verification > *:nth-last-child(1) {
	margin: 0;
}

.overview .email-verification {
	max-width: 350px;
	border: 1px solid #DDD;
	border-radius: 10px;
	padding: 20px;
	margin: auto;
}

.overview form {
	width: 100%;
}

.overview form *:not([hidden]) {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.overview form label {
	margin-bottom: 10px;
	color: var(--color-two);
}

.overview form input {
	border: 1px solid #DDD;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.overview form input::placeholder {
	color: #BBB;
}

.overview form button {
	text-align: center;
}

@media only screen and (max-width: 1000px) {
	.success-container h1 {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 700px) {
	.overview .success-container {
	    border: 0; 
	    padding: 0; 
	}
	.overview .success-container h1 {
		font-size: 1.2em;
	}
	.overview .success-container > * {
		margin: 0 0 20px;
		text-align: left;
	}
	.qr-code {
	    margin-left: 0 !important; 
	}
}

@media only screen and (max-width: 500px) {
	.overview .item .grid {
		grid-template-columns: 1fr;
	}
	.overview .item .content-container:nth-child(1) {
		padding-bottom: 0;
	}
	.overview .item .content-container > * {
	    margin: 0 20px 5px;
	}
	.qr-code {
	    margin-left: 20px !important; 
	}
	.verifications {
		overflow-wrap: break-word;
	}
}

