.overview {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 40px;
}

.overview .ticket-container > * {
	margin: 0 0 20px;
}

.overview .ticket-container > *:nth-last-child(1) {
	margin: 0;
}

.overview .settings {
	max-width: 300px;
	height: max-content;
}

.overview .settings h2 {
	margin: 0 0 5px;
}

.overview .settings #reset-search-session {
	color: var(--color-two);
	padding: 0;
	margin: 0 0 30px;
	transition: color 0.2s;
}

.overview .settings #reset-search-session:hover {
	color: var(--color-three);
}

.overview .item {
	border: 1px solid #CCC;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.overview .item.activated {
	border-color: var(--color-two);
	opacity: 0.3;
}

.overview .item.activated .verifications {
	background-color: var(--color-two);
}

.overview .item.voided {
	border-color: var(--color-danger);
	opacity: 0.3;
}

.overview .item.voided .verifications {
	background-color: var(--color-danger);
}

.overview .item .grid {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 20px;
	border: 1px solid #CCC;
	border-width: 0 0 1px;
}

.overview .item .content-container {
	padding: 20px 0;
}

.overview .item .content-container > * {
	margin: 0 20px 10px;
}

.overview .item .content-container > *:nth-last-child(1) {
	margin: 0 20px 0;
}

.overview .item .verifications {
	border-bottom-width: 0;
	border-radius: 0 0 10px 10px;
	background: #F5F5F5;
}

.overview .card {
	max-width: 250px;
	height: max-content;
	border: 1px solid #CCC;
	border-radius: 10px;
	padding: 20px;
}

.overview .card > * {
	margin: 0 0 20px;
}

.overview .card > *:nth-last-child(1) {
	margin: 0;
}

.overview form {
	width: 100%;
}

.overview form > *:not([hidden]) {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.overview form > * {
	margin-bottom: 30px;
}

.overview form > *:nth-last-child(1) {
	margin: 0;
}

.overview form > label {
	font-weight: bold;
	margin-bottom: 10px;
}

.overview form input, .overview form select {
	border: 1px solid #CCC;
	border-radius: 10px;
	padding: 10px;
}

.overview form input::placeholder {
	color: #BBB;
}

.overview form button {
	text-align: center;
}

.overview form .settings-flex-container {
	display: flex !important;
	justify-content: space-between;
}

.pagination {
	margin-top: 40px !important;
	margin-left: auto;
}

.pagination a {
	margin-right: 10px;
	text-decoration: none;
}

.pagination a.active {
	font-weight: bold;
}

.pagination a:hover {
	color: var(--color-two);
	transition: color;
	transition-duration: 0.2s;
}

.pagination svg {
	vertical-align: top;
}
