.overview {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 40px;
}

/* ----Filter (Left)---- */

.settings {
	max-width: 300px;
	height: max-content;
}

.settings h2 {
	margin: 0 0 5px;
}

.settings #reset-search-session {
	color: var(--color-two);
	padding: 0;
	margin: 0 0 30px;
	transition: color 0.2s;
}

.settings #reset-search-session:hover {
	color: var(--color-three);
}

.settings form {
	width: 100%;
}

.settings form > *:not([hidden]) {
	display: block;
	width: 100%;
	box-sizing: border-box;
}

.settings form > * {
	margin-bottom: 30px;
}

.settings form > *:nth-last-child(1) {
	margin: 0;
}

.settings form > label {
	font-weight: bold;
	margin-bottom: 10px;
}

.settings form input, .settings form select {
	border: 1px solid #CCC;
	border-radius: 10px;
	padding: 10px;
}

.settings form input::placeholder {
	color: #BBB;
}

.settings form button {
	text-align: center;
}

.settings form .settings-flex-container {
	display: flex !important;
	justify-content: space-between;
}

.pagination {
	width: fit-content;
	margin-top: 40px !important;
}

.pagination a {
	margin-right: 10px;
	text-decoration: none;
}

.pagination a.active {
	font-weight: bold;
}

.pagination a:hover {
	color: var(--color-two);
	transition: color;
	transition-duration: 0.2s;
}

.pagination svg {
	vertical-align: top;
}

/* --------------- */

/* ----Tickets (Right)---- */

.overview .ticket-container > * {
	margin: 0 0 20px;
}

.overview .ticket-container > *:nth-last-child(1) {
	margin: 0;
}

.ticket-container > .grid {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 20px;
}

.filter-result {
	width: fit-content;
	box-sizing: border-box;
	margin: 0;
}

.overview .item {
	border: 1px solid #CCC;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.overview .item.activated {
	border-color: var(--color-two);
	opacity: 0.3;
}

.overview .item.activated .verifications {
	background-color: var(--color-two);
}

.overview .item.voided {
	border-color: var(--color-danger);
	opacity: 0.3;
}

.overview .item.voided .verifications {
	background-color: var(--color-danger);
}

.overview .item.expired {
	opacity: 0.3;
}

.overview .item .grid {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 20px;
	border: 1px solid #CCC;
	border-width: 0 0 1px;
}

.overview .item .content-container {
	padding: 20px 0;
}

.overview .item .content-container > * {
	margin: 0 20px 10px;
}

.overview .item .content-container > *:nth-last-child(1) {
	margin: 0 20px 0;
}

.overview .item a {
	transition: color 0.2s;
}

.overview .item a:hover {
	color: var(--color-two);
}

.overview .qr-code {
	margin-left: 0 !important;
}

.overview .item .verifications {
	border-bottom-width: 0;
	border-radius: 0 0 10px 10px;
	background: #F5F5F5;
}

.prompt-toggle {
	display: none;
	position: fixed;
	right: 10px;
	bottom: 10px;
	background: #3d52d5;
	color: #FFF;
	padding: 10px 15px;
}

.prompt-toggle:hover {
	background: #0d21a1;
}

.prompt-toggle > * {
	margin: auto;
}

.prompt-toggle svg {
	margin-left: 5px;
}

@media only screen and (min-width: 600px) and (max-width: 900px), (max-width: 600px) {
	.overview .item .grid {
		grid-template-columns: 1fr;
	}
	.overview .item .content-container:nth-child(1) {
		padding-bottom: 0;
	}
	.overview .qr-code {
	    margin-left: 20px !important; 
	}
	.verifications {
		overflow-wrap: break-word;
	}
}

@media only screen and (max-width: 700px) {
	.overview {
		display: block;
	}
	.overview .settings {
		display: none;
	}
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
	.overview .item .grid {
		grid-template-columns: 1fr auto;
	}
	.overview .item .content-container:nth-child(1) {
		padding-bottom: 20px;
	}
}

@media only screen and (max-width: 700px) {
	.prompt-toggle {
		display: flex;
	}
	.filter-result {
		width: 100%;
	}
	.pagination {
		margin-left: auto;
	}
}
