.overview {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 40px;
}

.overview .ticket-container {
	max-width: none;
	margin: 0;
}

.overview .settings {
	max-width: 300px;
	height: max-content;
}

.overview .settings > * {
	margin: 0 0 10px;
}

.overview .settings > *:nth-last-child(1) {
	margin: 0;
}

.pagination {
	margin-top: 40px !important;
	margin-left: auto;
}

.pagination a {
	margin-right: 10px;
	text-decoration: none;
}

.pagination a.active {
	font-weight: bold;
}

.pagination a:hover {
	color: var(--color-two);
	transition: color;
	transition-duration: 0.2s;
}

.pagination svg {
	vertical-align: top;
}
