footer {
	border: 1px solid #DDD;
	border-width: 1px 0 0;
	background: #000;
	color: #555;
	padding: 60px 20px;
}

footer .heading {
	color: #DDD;
	margin: 0 0 20px;
}

footer p {
	margin: 20px 0 0;
}

footer .grid1 {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	margin-bottom: 80px;
}

footer .links a {
	display: block;
	margin-bottom: 5px;
}

footer .links a:nth-last-child(1) {
	margin-bottom: 0;
}

footer .grid2 {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

footer .grid2 * {
	font-family: proxima-nova, sans-serif;
	font-weight: bold;
}

footer .flex {
	display: flex;
	margin-right: -15px;
}

footer .flex > * {
	margin: auto 0;
	margin-right: 15px;
}

footer .copyright {
	font-size: 1.1em;
	height: max-content;
	text-align: center;
}

footer .copyright a {
	color: var(--color-one);
	text-decoration: none;
}

footer a {
	color: inherit;
	text-decoration: none;
	transition: color;
	transition-duration: 0.2s;
}

footer a:hover {
	color: #FFF;
}

@media only screen and (max-width: 500px) {
	footer .grid2 {
		grid-template-columns: 1fr;
	}
	footer .flex {
		margin: auto;
	}
}




