nav {
	position: sticky;
	top: 0;
	background: #FFF;
	border-width: 0 0 1px;
	border-style: solid;
	border-color: #DDD;
	padding: 0 20px;
	overflow: auto;
	z-index: 101;
}

nav * {
	font-family: proxima-nova, sans-serif;
	font-weight: bold;
}

nav .grid {
	display: grid;
	grid-template-columns: 1fr auto;
}

nav .left {
	display: flex;
	padding: 10px 0;
}

nav .right {
	display: flex;
	padding: 10px 0;
}

nav ul {
	display: inline-flex;
	padding: 0;
	margin: auto 0;
	box-sizing: border-box;
}

nav li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

nav a {
	transition: color 0.2s;
}

nav a:hover {
	color: var(--color-one);
}

nav .brand {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	display: flex;
	transition: color;
	transition-duration: 0.2s;
	text-decoration: none;
	margin: auto 0;
}

nav .brand:hover {
	color: var(--color-one);
}

nav .brand img {
	height: 3.5em;
	margin: auto 20px 0 0;
}

nav .right li {
	padding: 0 0 0 10px;
}

nav .right a {
	display: flex;
	border-radius: 10px;
	padding: 8px 12px;
}

nav .right li:nth-last-child(1) a {
	padding-right: 0;
}

nav .right svg {
	margin-left: 5px;
}

nav #popup-nav-toggle {
	display: none;
}

nav #popup-nav-toggle svg {
	vertical-align: middle;
}

nav #popup-nav-toggle .close {
	display: none;
}

.nav-activities {
	font-family: proxima-nova, sans-serif;
	font-weight: bold;
	padding: 20px 0;
	overflow-x: auto;
	background: var(--color-one);
}

.nav-activities .flex {
	display: flex;
	min-width: max-content;
	justify-content: space-between;	
	padding: 0 20px;
}

.nav-activities .flex a {
	color: #EEE;
	transition: color 0.2s;
	margin: 0 20px;
}

.nav-activities .flex a:nth-child(1), .nav-activities .flex a:nth-last-child(1) {
	margin: 0;
}

.nav-activities .flex a:hover {
	color: #000;
}

#popup-nav {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	background: #FFF;
	border: 1px solid #DDD;
	border-width: 0 1px 0 0;
	padding: 100px 20px 20px;
	overflow: auto;
}

#popup-nav .left {
	display: flex;
	padding: 10px 0;
}

#popup-nav .right {
	display: flex;
	padding: 10px 0;
}

#popup-nav ul {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#popup-nav li {
	list-style: none;
	padding: 0;
	margin: 0;
}

#popup-nav .right li {
	padding: 0 0 0 10px;
}

#popup-nav .right a {
	display: inline-block;
	border-radius: 10px;
	padding: 10px 0;
	display: flex;
}

#popup-nav .right li:nth-last-child(1) a {
	padding-right: 0;
}

#popup-nav .right svg {
	margin-left: 5px;
}

@media only screen and (max-width: 960px) {
	nav #popup-nav-toggle {
		display: block;
	}
}

@media only screen and (max-width: 500px) {
	nav .brand img {
		margin: auto 10px 0 0;
	}
}

@media only screen and (max-width: 400px) {
	nav .brand img {
		display: none;
	}
}





