.edit {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 40px;
}

.edit .right > h2:nth-child(1) {
	margin: 0 0 20px;
}

.edit .right > h2 {
	margin: 40px 0 20px;
}

.edit .right .grid {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.edit .right .grid > * {
	margin: auto 0;
}

.edit .right label {
	font-weight: bold;
	color: #000;
}

.edit .right label span {
	display: block;
	font-weight: normal;
	color: #AAA;
}

.edit form {
	max-width: 400px;
	border: 1px solid #DDD;
	border-radius: 10px;
	padding: 20px;
}

.edit form > * {
	margin: 0 0 20px;
}

.edit form > *:nth-last-child(1) {
	margin: 0;
}

.edit form .grid {
	margin: 0 0 20px;
}

.edit form label {
	font-weight: bold;
	margin: auto 0;
}

.edit form input {
	border: 1px solid #DDD;
	border-radius: 10px;
	padding: 10px 10px;
}

.edit form input::placeholder {
	color: #BBB;
}

.edit form button {
	width: 100%;
}

.edit form button[type="submit"] {
	padding: 10px;
}

.edit .right .card {
	border: 1px solid var(--color-danger);
	border-radius: 10px;
	padding: 20px;
}

.edit .ticket {
	height: max-content;
	border: 1px solid #DDD;
	border-radius: 10px;
	margin: 0 0 40px;
}

.edit .ticket .grid {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 20px;
	border: 1px solid #DDD;
	border-width: 0 0 1px;
}

.edit .ticket .content-container {
	padding: 20px 0;
}

.edit .ticket .content-container > * {
	margin: 0 20px 15px;
}

.edit .ticket .content-container > *:nth-last-child(1) {
	margin: 0 20px 0;
}

.edit .ticket .verifications {
	border-bottom-width: 0;
	border-radius: 0 0 10px 10px;
	background: #F5F5F5;
}

.edit .left .card {
	height: max-content;
	border: 1px solid #DDD;
	border-radius: 10px;
	padding: 20px;
}

.edit .left .card > * {
	margin: 0 0 15px;
}

.edit .left .card > *:nth-last-child(1) {
	margin: 0;
}
