.d-message {
	max-width: 400px;
	box-sizing: border-box;
	color: var(--color-danger);
}

.d-prompt span {
	color: var(--color-two);
}

.d-prompt p {
	color: #AAA;
}

.d-prompt a {
	width: 100%;
	text-align: center;
}

.edit {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 40px;
}

.edit .right > h2:nth-child(1) {
	margin: 0 0 20px;
}

.edit .right > h2 {
	margin: 40px 0 20px;
}

.edit .right .grid {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.edit .right .grid > * {
	margin: auto 0;
}

.edit .right label {
	font-weight: bold;
	color: #000;
}

.edit .right label span {
	display: block;
	font-weight: normal;
	color: #AAA;
}

.edit form {
	max-width: 400px;
	border: 1px solid var(--color-two);
	border-radius: 10px;
	box-sizing: border-box;
	padding: 20px;
}

.edit form > * {
	margin: 0 0 20px;
}

.edit form > *:nth-last-child(1) {
	margin: 0;
}

.edit form .grid {
	margin: 0 0 20px;
}

.edit form label {
	font-weight: bold;
	margin: auto 0;
}

.edit form input {
	border: 1px solid #CCC;
	border-radius: 10px;
	padding: 10px 10px;
}

.edit form input::placeholder {
	color: #BBB;
}

.edit form button {
	width: 100%;
}

.edit form button[type="submit"] {
	padding: 10px;
}

.edit .right .card {
	border: 1px solid var(--color-danger);
	border-radius: 10px;
	padding: 20px;
}

.edit .left > h2 {
	margin: 0 0 20px;
}

.edit .ticket {
	height: max-content;
	border: 1px solid #CCC;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.1);
	margin: 0 0 40px;
}

.edit .ticket.activated {
	border-color: var(--color-two);
	opacity: 0.3;
}

.edit .ticket.activated .verifications {
	background-color: var(--color-two);
}

.edit .ticket.voided {
	border-color: var(--color-danger);
	opacity: 0.3;
}

.edit .ticket.voided .verifications {
	background-color: var(--color-danger);
}

.edit .ticket.expired {
	opacity: 0.3;
}

.edit .ticket .grid {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-column-gap: 20px;
	border: 1px solid #CCC;
	border-width: 0 0 1px;
}

.edit .ticket .content-container {
	padding: 20px 0;
}

.edit .ticket .content-container > * {
	margin: 0 20px 15px;
}

.edit .ticket .content-container > *:nth-last-child(1) {
	margin: 0 20px 0;
}

.edit .qr-code {
	margin-left: 0 !important;
}

.edit .ticket .verifications {
	border-bottom-width: 0;
	border-radius: 0 0 10px 10px;
	background: #F5F5F5;
	overflow-wrap: break-word;
    word-break: break-all;
}

.edit .left .card {
	height: max-content;
	border: 1px solid #CCC;
	border-radius: 10px;
	padding: 20px;
}

.edit .left .card > * {
	margin: 0 0 15px;
	overflow-wrap: break-word;
}

.edit .left .card > *:nth-last-child(1) {
	margin: 0;
}

.edit .left .card .d-button-fill {
	padding: 0 5px;
	border-radius: 5px;
}

@media only screen and (max-width: 1050px) {
	.edit .ticket .grid {
		grid-template-columns: 1fr;
	}
	.edit .ticket .content-container:nth-child(1) {
		padding-bottom: 0;
	}
	.edit .qr-code {
	    margin-left: 20px !important; 
	}
}

@media only screen and (max-width: 900px) {
	.edit {
		grid-column-gap: 20px;
	}
	.edit .right .grid {
		min-width: 250px;
		grid-template-columns: 1fr;
	}
	.edit .ticket .content-container > * {
	    margin: 0 20px 10px;
	}
	.edit .left .card > * {
    	margin: 0 0 10px;
    }
    .edit .right .grid {
    	grid-row-gap: 15px;
    }
}

@media only screen and (max-width: 800px) {
	.edit {
		grid-template-columns: 1fr;
		grid-row-gap: 40px;
	}
	.edit .right .card {
		max-width: 300px;
	}
}
