{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'booking/admin/booking_edit/main.css' %}">
{% endblock %}

{% block content %}
	<script type="text/javascript" src="{% static 'base/no_resubmission.js' %}"></script>

	<script type="text/javascript" src="{% static 'base/prompt.js' %}"></script>

	<!-- QR Generator -->
	<script type="text/javascript" src="https://unpkg.com/qr-code-styling/lib/qr-code-styling.js"></script>

	<div class="d-container-wrapper edit-container-wrapper">
		<div class="edit d-container d-padding">
			<div class="left">
				<div class="ticket">
					<div class="grid">
						<div class="content-container">
							<h2 class="heading"><span>{{ obj.activity.name }}</span></h2>
							<p>Ticket Holder: <b>{{ obj.user.get_full_name }}</b></p>
							<p>Description: <b>{{ obj.activity.description|truncatechars:50 }}</b></p>
							<p>Number Of Attendees: <span><b>Adult x {{ obj.adult_count }}, Child x {{ obj.child_count }}</b></span></p>
							<p>Arrival Date: <b>{{ obj.activation_date.date }}</b></p>
						</div>
						<!-- https://medium.com/@facucarbonel_97514/how-to-create-a-qr-generator-using-javascript-4b5ce1b6ec27 -->
						<div class="content-container">
							<div class="qr-code" id="qr-{{ obj.pk }}"></div>
						</div>
						<script type="text/javascript">
							new QRCodeStyling({
								width: 80,
								height: 80,
								data: "{{ obj.code }}",
							}).append(document.getElementById("qr-{{ obj.pk }}"));
						</script>
					</div>
					<div class="verifications content-container">
						<p>Issue ID: <b>{{ obj.code }}</b></p>
						<p>Issue Date: <b>{{ obj.timestamp.date }}</b></p>
					</div>
				</div>
				<div class="card">
					<h2>Other Information</h2>
					<p>User ID: <b>{{ obj.user.slug }}</b></p>
					<p>Expired: <b>{{ obj.has_expired }}</b></p>
					<p>Activated: <b>{{ obj.activated }}</b></p>
					<p>Product ID: <b>{{ obj.activity.product_id }}</b></p>
					<p>Product ID: <b>{{ obj.activity.product_id }}</b></p>
				</div>
			</div>
			<div class="right">
				<h2>Ticket Information</h2>
				{% if messages %}
					<div class="messages-container">
						{% for message in messages %}
							<p class="d-message">{{ message|safe }}</p>
					    {% endfor %}
					</div>
				{% endif %}
				<form method="post">
					{% csrf_token %}
					<div class="grid">
						<label>First Name</b></label>
						<input name="first_name" placeholder="First name" max="64" value="{{ obj.user.first_name }}" required>
						<label>Last Name</b></label>
						<input name="last_name" placeholder="Last name" max="128" value="{{ obj.user.last_name }}" required>
						<label>Email</b></label>
						<input type="email" name="email" placeholder="example@example.com" max="255" value="{{ obj.user.email }}" required>
						<label>Phone Number</b></label>
						<input name="phone" placeholder="012 3456 7891" max="13" value="{{ obj.user.phone }}" required>
						<label>Arrival Date</b></label>
						<input name="date" type="date" value="{{ obj.activation_date|date:'Y-m-d' }}" required>
						<label>Adult (15+ years) ${{ obj.activity.adult_price }}</label>
						<input name="adult_count" placeholder="0-15" type="number" min="0" max="15" value="{{ obj.adult_count }}" required>
						<label>Child (5-14 years) ${{ obj.activity.child_price }}</label>
						<input name="child_count" placeholder="0-15" type="number" min="0" max="15" value="{{ obj.child_count }}" required>
					</div>
					<input hidden name="product_id" value="{{ obj.product_id }}">
					<button class="d-button" type="submit"><b>Save Changes</b></button>
				</form>
				{% if not obj.activated and not obj.void %}
					<h2>Danger</h2>
					<div class="card">
						<div class="grid">
							<label>Mark As Used<span>This cannot be undone!</span></label>
							<button class="d-button d-danger prompt-toggle" value="1"><b>Mark</b></button>
							<label>Void Ticket<span>This cannot be undone!</span></label>
							<button class="d-button d-danger prompt-toggle" value="2"><b>Void</b></button>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	{% if not obj.activated and not obj.void %}
		<div class="d-prompt d-danger" id="d-prompt-1">
			<div class="container">
				<h3 class="heading">You are activating this ticket!</h3>
				<p>This ticket will be marked as used and cannot be undone!</p>
				<a class="d-button" href="{% url 'booking:admin-edit-activate' user_slug=obj.user.slug ticket_id=obj.id %}"><b>Mark As Used</b></a>
			</div>
		</div>
		<div class="d-prompt d-danger" id="d-prompt-2">
			<div class="container">
				<h3 class="heading">Are you sure you want to void this ticket created on <span>{{ obj.timestamp }}</span>?</h3>
				<p>This will permanently expire the ticket and cannot be undone!</p>
				<a class="d-button" href="{% url 'booking:admin-edit-void' user_slug=obj.user.slug ticket_id=obj.id %}"><b>Yes, Void Ticket</b></a>
			</div>
		</div>
	{% endif %}
{% endblock %}