{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'usermgmt/login/main.css' %}">
{% endblock %}

{% block content %}
	<script type="text/javascript" src="{% static 'base/no_resubmission.js' %}"></script>

	<div class="d-container-wrapper login-container-wrapper">
		<div class="d-container login d-padding">
			<h2>If you are a staff, please sign in from here</h2>
			<!-- <h3 class="subheading">If you are a staff, please sign in from here</h3> -->
			<form method="post">
		    	{% csrf_token %}
		    	
		    	{% if messages %}
					<div class="messages-container">
						{% for message in messages %}
				        	<p class="d-message d-danger">{{ message }}</p>
					    {% endfor %}
					</div>
				{% endif %}
		    	
				<label><b>Username</b></label>
				{{ form.username }}
				<label><b>Password</b></label>
				{{ form.password }}
				<button class="d-button-fill" type="submit"><b>Sign In</b></button>
			</form>
		</div>
	</div>
{% endblock %}