.intro-bg {
	background-size: cover;
	background-repeat: no-repeat; 
	box-sizing: border-box;
}

.intro-container-wrapper {
	padding: 120px 0;
}

.intro {
	font-family: proxima-nova, sans-serif;
	font-weight: bold;
}

.intro * {
	text-align: center;
}

.intro .heading {
	font-size: 5rem;
	text-shadow: 0 0 40px #FFF;
	margin: 0;
}

.intro h2 {
	text-shadow: 0 0 20px #FFF;
}

.intro a {
	background: #000;
	border-radius: 10px;
	box-shadow: 0 0 40px rgba(255,255,255,0.5);
	color: #FFF;
	padding: 20px 25px;
}