:root {
	--gallery-columns: 4;
}

.bg-video {
	position: absolute;
	width: 100vw;
	/* Height is set to the same as .intro-container-wrapper in JS */
	filter: brightness(0.5);
	object-fit: cover; /* Discard aspect ratio */
	z-index: -1;
}

.intro-container-wrapper {
	padding: 120px 0;
}

.intro {
	font-weight: bold;
}

.intro *:not(a) {
	color: #FFF;
	text-align: center;
}

.intro .heading {
	font-size: 5rem;
	margin: 0;
}

.intro h2 {
	margin: 20px 0 40px;
}

.intro a {
	border-radius: 50px;
	padding: 15px 30px;
	color: var(--color-one);
	border-color: var(--color-one);
}

.intro a:hover {
	color: #000;
	background: var(--color-one);
}

.todo-container-wrapper {
	padding: 120px 0;
}

.todo .heading {
	font-size: 3em;
	margin: 0 0 40px;
	text-align: center;
}

.todo .flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 -30px -30px 0;
}

.todo .card {
	flex: 1;
	display: flex;
	flex-direction: column;
	min-width: 300px;
	max-width: 500px;
	background: #FFF;
	border-radius: 10px;
	border: 1px solid #DDD;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
	margin: 0 30px 30px 0;
	overflow: hidden;
}

.todo .card .cover-image {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	transition: transform, margin, 0.2s;
}

.todo .card:hover .cover-image {
	transform: translateY(-200px);
}

.todo .card .content {
	padding: 20px;
	transition: transform, 0.2s;
}

.todo .card:hover .content {
	transform: translateY(-200px);
}

.todo .card .content > * {
	margin: 0 0 20px;
}

.todo .card .content > *:nth-last-child(1) {
	margin: 0;
}

@keyframes show {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.todo .card .content > *[hidden] {
	position: absolute;
	height: 200px;
	overflow: scroll;
	animation: show 0.2s forwards 0.1s;
	margin: 0 20px 0 0;
	box-sizing: content-box;
	opacity: 0;
}

.todo .card:hover .content > *[hidden] {
	display: block;
}

.todo .card .content > p:not([hidden])::after {
	content: ' ...';
}

.todo .card:hover .content > p:not([hidden])::after {
	content: '';
}

.todo .card a {
	font-weight: bold;
	display: flex;
	margin-top: auto;
	border-radius: 0;
}

.todo video {
	width: 100%;
	border-radius: 10px;
}

.video-container-wrapper {
	background: #FAFAFA;
	padding: 120px 0;
}

.video .grid {
	display: grid;
	grid-template-columns: 0.8fr 1fr;
	grid-column-gap: 40px;
}

.video .heading {
	font-size: 3em;
	margin: 0 0 30px;
}

.video p {
	font-size: 1em;
	max-width: 900px;
	margin: 0 auto 30px;
}

.video video {
	width: 100%;
	border-radius: 10px;
}

.video .grid .right {
	border-radius: 10px;
	overflow: hidden;
}

.video .grid .image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: transform 1s;
}

.video .grid .image:hover {
	transform: scale(1.1);
}

.gallery-container-wrapper {
	padding: 120px 0;
}

.gallery .heading {
	font-size: 3em;
	margin: 0 0 40px;
	text-align: center;
}

.gallery .grid {
	display: grid;
	grid-template-columns: repeat(var(--gallery-columns), 1fr);
	grid-column-gap: 2px;
	grid-row-gap: 2px;
	border-radius: 10px;
	overflow: hidden;
}

.gallery .grid > div {
	height: calc(90vw / var(--gallery-columns));
	max-height: 300px;
	overflow: hidden;
}

.gallery .grid > div div {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 1s;
}

.gallery .grid > div div:hover {
	transform: scale(1.1);
}

.gallery-container-wrapper a {
	display: block;
	width: max-content;
	border-radius: 50px;
	padding: 10px 30px;
	margin: 30px auto 0;
}

.booking-container-wrapper {
	background: #000;
	padding: 120px 0;
}

@keyframes tilt {
	from {
		transform: rotate(-3deg);
	}
	to {
		transform: rotate(3deg);
	}
}

.booking h1 {
	font-size: 4em;
	margin: 0 0 40px;
	text-align: center;
	animation: tilt infinite alternate-reverse ease-in-out 0.5s;
	transition: border-color, 0.2s;

	/* Gradient text fill */
	/* https://fossheim.io/writing/posts/css-text-gradient/ */
	background: var(--color-two);
	background: linear-gradient(90deg, rgba(77,255,71,1) 0%, rgba(0,88,45,1) 100%);
	background-size: cover;

	/* Used text as clipping mask */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

.booking a {
	display: block;
	width: max-content;
	border-radius: 50px;
	border: 2px solid #FFF;
	color: #FFF;
	margin: auto;
	padding: 15px 30px;
	transition: color, border-color, 0.2s;
}

.booking a:hover {
	color: var(--color-one);
	border-color: var(--color-one);
}

.comment-container-wrapper {
	background: #FAFAFA;
	padding: 120px 0;
}

.comment-container-wrapper .heading {
	font-size: 3em;
	margin: 0 0 40px;
	text-align: center;
}

.comment-container-wrapper .overflow-container {
	background: #FAFAFA;
	overflow-x: auto;
}

.comment {
	width: max-content;
	margin: auto;
}

.comment .flex {
	display: flex;
}

.comment .flex > div {
	width: 300px;
	border: 1px solid #DDD;
	border-width: 0 1px 0 0;
	padding: 0 20px 0 0;
	margin: 0 20px 0 0;
}

.comment .flex > div:nth-last-child(1) {
	border: 0;
	padding: 0;
	margin: 0;
}

.comment .flex > div p {
	margin: 0 0 20px;
}

.comment .flex > div p:nth-last-child(1) {
	margin: 0;
}

.comment .author {
	font-weight: bold;
}

@media only screen and (max-width: 900px) {
	:root {
		--gallery-columns: 3;
	}
}

@media only screen and (max-width: 800px) {
	.video .grid {
		grid-column-gap: 20px;
	}
}

@media only screen and (max-width: 700px) {
	:root {
		--gallery-columns: 2;
	}
	.intro .heading {
		font-size: 4rem;
	}
	.todo .heading {
		font-size: 2rem;
	}
	.video .grid {
		grid-template-columns: 1fr;
	}
	.video .heading {
		font-size: 2rem;
	}
	.video p {
		font-size: 1em;
	}
	.video .grid .image {
		display: none;
	}
	.gallery .heading {
		font-size: 2em;
	}
	.comment-container-wrapper .heading {
		font-size: 2em;
	}
	.booking .heading {
		font-size: 3rem;
	}
}

@media only screen and (max-width: 600px) {
	.intro .heading {
		font-size: 3rem;
	}
	.intro h2 {
		font-size: 1.2rem;
		margin: 10px 0 30px;
	}
	.booking .heading {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 500px) {
	.intro .heading {
		font-size: 2.5rem;
	}
	.intro h2 {
		font-size: 1.4rem;
		margin: 15px 0 35px;
	}
	.intro *:not(a) {
		color: #FFF;
		text-align: left;
	}
	.todo .heading, .video .heading, .video p, .gallery .heading, .comment-container-wrapper .heading {
		text-align: left;
	}
	.todo .card {
		min-width: calc(300px - 60px);
	}
}

@media only screen and (max-width: 450px) {
	:root {
		--gallery-columns: 1;
	}
	.d-container-wrapper:not(.intro-container-wrapper):not(.booking-container-wrapper) {
		padding: 40px 0 !important;
	}
	.gallery::after {
		content: '';
		position: absolute;
		width: 100vw;
		left: 0;
		box-shadow: 0 -20px 60px 100px #FFF;
	}
	.gallery .grid {
		max-height: 1000px;
		overflow-y: hidden;
	}
	.comment-container-wrapper, .gallery-container-wrapper a {
		position: relative;
		z-index: 10; /* Make it on top of gallery blur */
		margin-top: 0; /* For the <a> tag */
	}
}

@media only screen and (max-width: 400px) {
	.booking .heading {
		font-size: 2rem;
	}
}

