{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{% static 'booking/checkout_status.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'booking/checkout/main.css' %}">

	<style>
		:root {
			--progress-bar-width: calc(95%) !important;
		}
	</style>
{% endblock %}

{% block content %}
	<script type="text/javascript" src="{% static 'base/no_resubmission.js' %}"></script>

	<script type="text/javascript" src="{% static 'base/prompt.js' %}"></script>

	{% include 'booking/checkout_status.html' %}

	<div class="d-container-wrapper checkout-container-wrapper">
		<div class="checkout d-container d-padding">
			<div class="grid">
				<div class="container">
					<form method="post">
						{% csrf_token %}

						{% if form.errors %}
							<div class="d-message-container">
								{% for field in form %}
									{% for error in field.errors %}
							        	<p class="d-message">{{ error }}</p>
								    {% endfor %}
								{% endfor %}
							</div>
						{% endif %}
						
						<div class="grid">
							<h3>{{ form.full_name.label }}</h3>
							{{ form.full_name }}
							<h3>{{ form.card_number.label }}</h3>
							{{ form.card_number }}
							<h3>{{ form.cvv.label }}</h3>
							{{ form.cvv }}
						</div>
						<button class="d-button-fill" type="submit"><b>Confirm Payment</b></button>
						<a class="go-back d-button" href="{% url 'booking:checkout-step1' %}"><b>Previous Step</b></a>
					</form>
				</div>
				<div class="card">
					<h2>Order Summary</h2>
					<p>
						You have order a total of <b>{{ card_items_count }} item{% if card_items_count > 1 %}s{% endif %}</b>:
						<br>
						{% for obj in cart %}
							{{ obj.name }},
						{% endfor %}
					</p>
					<h2>Your cart total is <span>${{ total }}</span></h2>
				</div>
			</div>
		</div>
	</div>
{% endblock %}