@keyframes scale {
    from {
        transform: translate(-50%,-50%) scale(1.1);
    }
    to {
        transform: translate(-50%,-50%) scale(0.9);
    }
}

#loader {
    position: fixed;
    min-width: 150px;
    width: 10vw;
    max-width: 200px;
    top: 50%;
    left: 50%;
    animation-name: scale;
    animation-duration: 0.5s;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    z-index: 200;
}