:root {
	--color-one: rgb(0,230,115);
	--color-two: rgb(0,150,89);
	--color-three: rgb(0,110,65);
}

body {
	background: #FFF;
}

* {
	font-family: "proxima-nova", sans-serif;
}

a {
	color: #000;
	text-decoration: none;
}

p {
	line-height: 1.4em;
}

hr {
	width: 100%;
	border: 1px solid #DDD;
	box-sizing: border-box;
}

button {
	background: transparent;
	border: 0;
}

.d-button, .d-button-fill {
	display: inline-block;
	color: var(--color-two);
	border-color: var(--color-two);
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	padding: 10px;
	text-decoration: none;
	transition: color background;
	transition-duration: 0.2s;
}

.d-button-flex {
	display: inline-flex;
}

.d-button-flex svg {
	margin: auto 0 auto 5px;
}

.d-button:hover {
	color: #FFF;
	background: var(--color-two);
}

.d-button-fill {
	color: #FFF;
	background: var(--color-two);
}

.d-button-fill:hover {
	border-color: var(--color-three);
	background: var(--color-three);
}

/* CSS for ".base" elements are defined in this file */

.d-container-wrapper {
	padding: 40px 0;
}

.d-container {
	max-width: 1200px;
	margin: auto;
}

.d-heading {
	width: fit-content;
	margin-bottom: 40px;
}

.d-padding {
	padding: 0 40px;
}

.d-message-container > * {
	margin: 0 0 10px;
}

.d-message-container > *:nth-last-child(1) {
	margin: 0;
}

.d-message {
	font-weight: bold;
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	color: #000;
	padding: 10px;
	text-align: center;
}

.d-message a {
	color: var(--color-two);
}

.d-message a:hover {
	color: var(--color-three);
}

.d-prompt {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	border-width: 2px;
	border-color: var(--color-two);
	border-style: solid;
	background: rgba(0,0,0,0.6);
	box-sizing: border-box;
	padding: 25px;
	overflow-y: scroll;
	z-index: 201;
}

.d-prompt > div {
	width: 100%;
	max-width: 300px;
	border-radius: 20px;
	background: #FFF;
	padding: 25px;
	margin: auto;
}

.d-prompt > div > * {
	margin: 0 0 20px;
}

.d-prompt > div > *:nth-last-child(1) {
	margin: 0;
}

@media only screen and (max-width: 400px) {
	.container-wrapper {
		padding: 60px 0;
	}
	.d-padding {
		padding: 0 30px;
	}
}